ul.post-list {
  padding: 0;
  list-style: none;

  li {
    margin-bottom: 8px;
  }
}

.navbar-item {
  text-decoration: none;
  color: white;
}

.page-content {
  display: flex;
  justify-content: center;

  .wrapper {
    width: 750px;
  }
}

.post-meta {
  width: 140px;
  display: inline-block;
}
